:root {
  --border-radius: 12px;
  --text-light: #ffffff;
  --primary-color: #0f52ba;
  --footer-color: #eeeeee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}
